@import '../containers/media.scss';

@mixin grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.25rem;
    // @include mobile {
    //     grid-template-columns: 1fr 1fr;
    //     grid-gap: 1.875rem;
    // }
}