.full_screen_center {
    @include flex_jf-Center_ai-Center();
    @include gap_column(2.125rem, 0rem);
    width: 100%;
    height: 100vh;
    .container_text_404 {
        @include flex_jf-Center_ai-Center();
        @include gap_column(2.125rem, 0);
        width: 65.064rem;
        height: 14.546rem;
        background: url(/assets/images/backgrouns/404.svg) no-repeat center center;
        background-size: cover;
        @include mobile {
            width: 41.875rem;
            height: 9.375rem;
        }
        p {
            @include p_other_pages();
        }
    }
}