.policity-page {
    padding: 14.563rem 0 8rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "A B C";
    @include mobile {
        grid-template-columns: 1fr;
        padding-inline: 3rem;
    }
    .container_text_policity {
        grid-area: B;
        @include gap_column(3rem, 3.125rem);
        h4 {
            @include h4();
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -0.04rem;
        }
        .container_p_policity {
            @include gap_column(1.5rem, 2rem);
            p {
                @include p();
                color: $bg-inverse;
            }
        }
    }

    .container_arrows_swipper {
        @include gap_custom(0rem, 1.5rem);
        display: none;
        grid-column-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        @include mobile {
            display: grid;
        }
        .swipper_arrow {
            @include flex_jf-Center_ai-Center();
            @include b_radius_1000();
            margin-left: auto;
            padding: 1rem;
            background-color: $bg-terteriary;
            &:nth-child(2) {
                transform: rotate(180deg);
                margin-left: 0;
                margin-right: auto;
            }
            &:active {
                background-color: $bg-inverse;
                svg {
                    path {
                        stroke: $bg-terteriary;
                    }
                }
            }
        }
    }
}