footer {
    @include flex_jf-Center_ai-Center();
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    background-color: $bg-terteriary;
    .footer_content {
        padding: 3rem 5.25rem;
        width: 100%;
        max-width: 120rem;
        @include mobile {
            padding: 3rem 3rem;
        }
        .container_policity {
            @include flex_js-SpaceBetween_ai-Center();
            align-items: end;
            .container_svg_footer {
                @include b_radius_1000();
                @include flex_jf-Center_ai-Center();
                cursor: pointer;
                padding: 1.25rem 2rem;
                background-color: $bg-inverse;
            }
            .text_policity {
                @include gap_column(0.25rem, 1.25rem);
                @include mobile {
                    display: none;
                }
                h4 {
                    @include h4();
                    color: $bg-primary-transparent-40;
                    text-align: end;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: -0.04rem;
                }
            }
        }
        .number_social {
            @include gap_column(1.5rem, 1.25rem);
            margin-top: 7.438rem;
            @include mobile {
                margin-top: 3rem;
            }
            h4 {
                @include h4();
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -0.04rem;
                @include mobile {
                    font-size: 2rem;
                }
            }
            .container_social {
                @include gap_custom(1.25rem, 0.75rem);
                svg {
                    cursor: pointer;
                    width: 5rem;
                    height: 5rem;
                    transition: all 2s ease;
                    &:hover, &:active {
                        rect {
                            fill: $bg-inverse;
                        }
                        path {
                            fill: $bg-terteriary;
                        }
                    }
                }
            }
        }
        .questions {
            @include h4();
            margin-top: 4.688rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.04rem;
            @include mobile {
                font-size: 2rem;
                margin-top: 4rem;
            }
        }
        h2 {
            @include h2();
            @include mobile {
                font-size: 3.75rem;
            }
        }
        .text_policity_mobile {
            @include gap_column(0rem, 1.5rem);
            display: none;
            @include mobile {
                font-size: 2rem;
                margin-top: 4rem;
                display: block;
                color: $bg-primary-transparent-40;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.04rem;
            }
        }
    }
}

// .container_policity {
//     @include flex_js-SpaceBetween_ai-Center();
//     align-items: end;
//     .container_svg_footer {
//         @include b_radius_1000();
//         padding: 1.25rem 2rem;
//         background-color: $bg-inverse;
//     }
//     .text_policity {
//         @include gap_column(0.25rem, 1.25rem);
//         h4 {
//             @include h4();
//             color: $bg-primary-transparent-40;
//             text-align: end;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 100%;
//             letter-spacing: -0.04rem;
//         }
//     }
// }
// .number_social {
//     @include gap_column(1.5rem, 1.25rem);
//     margin-top: 7.438rem;
//     h4 {
//         @include h4();
//         font-style: normal;
//         font-weight: 600;
//         line-height: 100%;
//         letter-spacing: -0.04rem;
//     }
//     .container_social {
//         @include gap_custom(1.25rem, 0.75rem);
//         svg {
//             width: 5rem;
//             height: 5rem;
//         }
//     }
// }
// .questions {
//     @include h4();
//     margin-top: 4.688rem;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 100%;
//     letter-spacing: -0.04rem;
// }
// h2 {
//     @include h2();
// }